@page
@model cronch.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">About <span class="styled-logo-text">CRONCH!</span></h1>
    <h4>Version @Model.AppVersion</h4>
    <br />
    <div class="text-start bg-body-secondary rounded-4 p-3">
        <p>Full version: @Model.AppFullVersion</p>
        <p>Runtime: @Model.Runtime</p>
        <p>Current configuration:</p>
        <div class="ms-4">
		    ConfigLocation: <code>@Model.ConfigLocation</code><br />
            &nbsp;&nbsp;&nbsp;&nbsp;↳ resolves to: <code>@Model.ConfigLocationResolved</code><br />
		    DataLocation: <code>@Model.DataLocation</code><br />
            &nbsp;&nbsp;&nbsp;&nbsp;↳ resolves to: <code>@Model.DataLocationResolved</code>
        </div>
    </div>
</div>
<div class="text-end">
    <a asp-page="/RuntimeStats">View Runtime Statistics</a>
</div>
<div class="text-end">
	<a asp-page="/Licenses">Licenses</a>
</div>
