@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
    ViewData["active"] = "overview";
}

<div class="text-center" id="content-root" hx-get="@(HttpContext.Request.Path + HttpContext.Request.QueryString)" hx-trigger="every 3s" hx-select="#content-root" hx-swap="outerHTML">
    <h1 class="display-4">Welcome to <span class="styled-logo-text">CRONCH!</span></h1>
    <br />
    <div class="container text-center">
        <div class="row">
            <div class="col border border-bottom-0">
                <h2><u>All Jobs</u></h2>
                <p>&nbsp;</p>
                <table class="table table-striped">
                    <tr>
                        <td class="text-start">Enabled</td>
                        <td class="text-end"><span class="badge rounded-pill text-bg-secondary">@Model.EnabledJobCount</span></td>
                    </tr>
                    <tr>
                        <td class="text-start">Total</td>
                        <td class="text-end"><span class="badge rounded-pill text-bg-secondary">@Model.TotalJobCount</span></td>
                    </tr>
                </table>
            </div>
            <div class="col border border-bottom-0">
                <h2><u>Running Jobs</u></h2>
                <p>@Model.RunningJobs.Count total</p>
                <table class="table table-striped">
                    @foreach (var run in Model.RunningJobs.Take(3))
                    {
                        <tr class="clickable-row" onclick="navigateToExecution('@run.ExecutionId')">
                            <td class="text-start">@run.JobName</td>
                            <td class="text-end"><span class="badge rounded-pill text-bg-dark">@run.FormattedDuration</span></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col border border-top-0">
                <p><a asp-page="Manage" class="btn btn-outline-dark">Manage Jobs</a></p>
            </div>
            <div class="col border border-top-0">
                <p><a asp-page="History" asp-route-status="Running" class="btn btn-outline-dark">View All</a></p>
            </div>
        </div>
    </div>
    <br />
    <h2>Recent job executions</h2>
    <partial name="_ExecutionListPartial" model="Model.RecentExecutions" />
</div>
