@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
    ViewData["active"] = "overview";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span class="styled-logo-text">CRONCH!</span></h1>
    <br />
    <div class="container text-center">
        <div class="row">
            <div class="col border border-bottom-0">
                <h2><u>All Jobs</u></h2>
                <p>&nbsp;</p>
                <table class="table table-striped">
                    <tr>
                        <td class="text-start">Enabled</td>
                        <td class="text-end"><span class="badge rounded-pill text-bg-secondary">@Model.EnabledJobCount</span></td>
                    </tr>
                    <tr>
                        <td class="text-start">Total</td>
                        <td class="text-end"><span class="badge rounded-pill text-bg-secondary">@Model.TotalJobCount</span></td>
                    </tr>
                </table>
            </div>
            <div class="col border border-bottom-0">
                <h2><u>Running Jobs</u></h2>
                <p>&nbsp;</p>
                <table class="table table-striped">
                    @foreach (var run in Model.RunningJobs)
                    {
                        var durationFormat = "d\\ \\d\\ hh\\:mm\\:ss";
                        if (run.Duration.TotalMinutes < 1) durationFormat = "s\\ \\s";
                        else if (run.Duration.TotalHours < 1) durationFormat = "mm\\:ss";
                        else if (run.Duration.TotalDays < 1) durationFormat = "hh\\:mm\\:ss";

                        <tr>
                            <td class="text-start">@run.JobName</td>
                            <td class="text-end"><span class="badge rounded-pill text-bg-dark">@run.Duration.ToString(durationFormat)</span></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col border border-bottom-0">
                <h2><u>Statistics</u></h2>
                <p>Over the last week</p>
                <table class="table table-striped">
                    <tr>
                        <td class="text-start">Successes</td>
                        <td class="text-end"><span class="badge rounded-pill text-bg-success">@Model.LastWeekSuccesses</span></td>
                    </tr>
                    <tr>
                        <td class="text-start">Errors</td>
                        <td class="text-end"><span class="badge rounded-pill text-bg-danger">@Model.LastWeekErrors</span></td>
                    </tr>
                    <tr>
                        <td class="text-start">Warnings</td>
                        <td class="text-end"><span class="badge rounded-pill text-bg-warning">@Model.LastWeekWarnings</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col border border-top-0">
                <p><a asp-page="Manage" class="btn btn-outline-dark">Manage Jobs</a></p>
            </div>
            <div class="col border border-top-0">
                <p><a asp-page="History" class="btn btn-outline-dark">View All</a></p>
            </div>
            <div class="col border border-top-0">
                <p><a asp-page="History" class="btn btn-outline-dark">View Details</a></p>
            </div>
        </div>
    </div>
    <br />
    <h2>Recent job executions</h2>
    <partial name="_ExecutionListPartial" model="Model.RecentExecutions" />
</div>
