@page
@model cronch.Pages.ManageModel
@{
    ViewData["Title"] = "Manage";
    ViewData["active"] = "manage";
}
<div class="text-center">
    <h1 class="display-4">Manage Jobs</h1>
    <br />
    <div class="text-start">
        <div class="btn-group">
            <!-- TODO: multiselect actions -->
            <a class="btn btn-light dropdown-toggle disabled" data-bs-toggle="dropdown" aria-expanded="false">
                <input class="form-check-input" type="checkbox" readonly="readonly" checked="checked" disabled="disabled" role="none" /> Actions
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Enable</a></li>
                <li><a class="dropdown-item" href="#">Disable</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
            </ul>
        </div>
        <a asp-page="/AddJob" class="btn btn-outline-primary ms-3">Add Job</a>
    </div>
    <br />
    <table class="table table-striped text-start align-middle">
        <thead>
            <tr>
                <th>
                    <!-- TODO: multiselect actions -->
                    <input class="form-check-input" type="checkbox" disabled="disabled" />
                </th>
                <th>Name</th>
                <th>Enabled</th>
                <th class="w-25">Schedule</th>
                <th class="w-25">Latest/Next Run</th>
                <th class="text-end w-25">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model.Jobs)
            {
                <tr>
                    <td>
                        <!-- TODO: multiselect actions -->
                        <input data-id="@job.Id" class="form-check-input" type="checkbox" disabled="disabled" />
                    </td>
                    <td>@job.Name</td>
                    <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" disabled="disabled" @(job.Enabled ? "checked=\"checked\"" : "")></div></td>
                    <td>
                        <code>@job.CronSchedule</code>
                        <br />
                        <small><i>@job.GetValidatedCronDescription()</i></small>
                    </td>
                    <td>Latest: @(job.LatestExecution?.ToLocalTime().ToString("G") ?? "N/A")<br />Next: @(job.NextExecution?.ToLocalTime().ToString("G") ?? "N/A")</td>
                    <td class="text-end">
                        <a asp-page="/EditJob" asp-route-id="@job.Id" class="btn btn-sm btn-outline-secondary">Configure</a>
                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-bs-jobid="@job.Id" data-bs-jobname="@job.Name">Delete</button>
                        <a asp-page="/History" asp-route-jobId="@job.Id" class="btn btn-sm btn-outline-secondary">View Runs</a>
                        <form class="form-inline" method="post" asp-page-handler="RunJob">
                            <input type="hidden" name="id" value="@job.Id" />
                            <button class="btn btn-sm btn-success">Run</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Delete?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    Are you sure you want to delete the job "<code id="confirmDeleteModalJobName"></code>"?
                    <br /><br />
                    All of its historical executions will be deleted as well.
                </div>
                <div class="modal-footer">
                    <form method="post" asp-page-handler="DeleteJob">
                        <input type="hidden" id="confirmDeleteModalJobId" name="id" />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('confirmDeleteModal').addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            document.getElementById('confirmDeleteModalJobName').innerText = button.getAttribute('data-bs-jobname');
            document.getElementById('confirmDeleteModalJobId').value = button.getAttribute('data-bs-jobid');
        });
    </script>
</div>
