@page
@model cronch.Pages.ManageModel
@{
    ViewData["Title"] = "Manage";
    ViewData["active"] = "manage";
}
<div class="text-center">
    <h1 class="display-4">Manage Jobs</h1>
    <br />
    <div class="text-start">
        <div class="btn-group">
            <a class="btn btn-dark dropdown-toggle disabled" id="actions-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <input class="form-check-input" type="checkbox" readonly="readonly" checked="checked" disabled="disabled" role="none" /> Actions
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><button class="dropdown-item" type="button" onclick="onMultiEnable(event)">Enable</button></li>
                <li><button class="dropdown-item" type="button" onclick="onMultiDisable(event)">Disable</button></li>
            </ul>
        </div>
        <a asp-page="/AddJob" class="btn btn-primary ms-3">Add Job</a>
    </div>
    <br />
    <table class="table table-striped text-start align-middle">
        <thead>
            <tr>
                <th>
                    <input class="form-check-input" id="job-select-all-checkbox" type="checkbox" onchange="onJobSelectAll(event)" />
                </th>
                <th>Name</th>
                <th>Enabled</th>
                <th class="w-25">Schedule</th>
                <th class="w-25">Latest/Next Run</th>
                <th class="text-end w-25">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model.Jobs)
            {
                <tr>
                    <td>
                        <input data-id="@job.Id" class="form-check-input job-multi-select-checkbox" type="checkbox" onchange="onJobMultiSelect(event)" />
                    </td>
                    <td>@job.Name</td>
                    <td><div class="form-check form-switch"><input class="form-check-input" type="checkbox" disabled="disabled" @(job.Enabled ? "checked=\"checked\"" : "")></div></td>
                    <td>
                        <code>@job.CronSchedule</code>
                        <br />
                        <small><i>@job.GetValidatedCronDescription()</i></small>
                    </td>
                    <td id="latest-next-td-for-job-@job.Id" hx-get="@(HttpContext.Request.Path + HttpContext.Request.QueryString)" hx-trigger="every 30s" hx-select="#latest-next-td-for-job-@job.Id" hx-swap="outerHTML">
                        Latest: @(job.LatestExecution?.ToLocalTime().ToString("G") ?? "N/A")
                        <br />
                        Next: @(job.NextExecution?.ToLocalTime().ToString("G") ?? "N/A")
                    </td>
                    <td class="text-end">
                        <a asp-page="/EditJob" asp-route-id="@job.Id" class="btn btn-sm btn-outline-secondary">Configure</a>
                        <a asp-page="/History" asp-route-jobId="@job.Id" class="btn btn-sm btn-outline-secondary">View Runs</a>
                        <form class="form-inline" method="post" asp-page-handler="RunJob">
                            <input type="hidden" name="id" value="@job.Id" />
                            <button class="btn btn-sm btn-success">Run</button>
                        </form>
                        <div class="dropdown d-inline-block">
                            <button class="btn btn-sm dropdown-toggle no-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @* Source: https://icons.getbootstrap.com/icons/three-dots-vertical/ - MIT license *@
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#duplicateModal" data-bs-jobid="@job.Id" data-bs-jobname="@job.Name">Duplicate</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-bs-jobid="@job.Id" data-bs-jobname="@job.Name">Delete</button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Delete?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    Are you sure you want to delete the job "<code id="confirmDeleteModalJobName"></code>"?
                    <br /><br />
                    All of its historical executions will be deleted as well.
                </div>
                <div class="modal-footer">
                    <form method="post" asp-page-handler="DeleteJob">
                        <input type="hidden" id="confirmDeleteModalJobId" name="id" />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="duplicateModal" tabindex="-1" aria-labelledby="duplicateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" asp-page-handler="DuplicateJob">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="duplicateModalLabel">Duplicate</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        What would you like to call the duplicate of "<code id="duplicateModalJobName"></code>"?
                        <br /><br />
                        <input type="text" class="form-control" name="duplicateName" id="duplicateNameInput" />
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="duplicateModalJobId" name="originalJobId" />

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Duplicate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form id="multi-select-form" class="d-none" method="post" asp-page-handler="MultiSelectAction">
        <!-- note, this form includes an auto-generated CSRF field -->
        <input type="hidden" name="action" />
    </form>

    <script type="text/javascript">
        document.getElementById('confirmDeleteModal').addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            document.getElementById('confirmDeleteModalJobName').innerText = button.getAttribute('data-bs-jobname');
            document.getElementById('confirmDeleteModalJobId').value = button.getAttribute('data-bs-jobid');
        });

        document.getElementById('duplicateModal').addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            document.getElementById('duplicateModalJobName').innerText = button.getAttribute('data-bs-jobname');
            document.getElementById('duplicateNameInput').value = `Copy of ${button.getAttribute('data-bs-jobname')}`;
            document.getElementById('duplicateModalJobId').value = button.getAttribute('data-bs-jobid');
        });

        function onJobMultiSelect(event) {
            const total = document.querySelectorAll('.job-multi-select-checkbox').length;
            const checked = document.querySelectorAll('.job-multi-select-checkbox:checked').length;

            document.querySelector('#job-select-all-checkbox').checked = (total > 0 && total === checked);

            if (checked > 0) {
                document.querySelector('#actions-dropdown').classList.remove('disabled');
            } else {
                document.querySelector('#actions-dropdown').classList.add('disabled');
            }
        }

        function onJobSelectAll(event) {
            const checked = document.querySelector('#job-select-all-checkbox').checked;

            document.querySelectorAll('.job-multi-select-checkbox').forEach(el => {
                el.checked = checked;
            });

            if (checked) {
                document.querySelector('#actions-dropdown').classList.remove('disabled');
            } else {
                document.querySelector('#actions-dropdown').classList.add('disabled');
            }
        }

        function populateMultiSelectForm(actionName) {
            const formEl = document.querySelector('#multi-select-form');
            document.querySelectorAll('#multi-select-form input[name="jobIds"]').forEach(el => el.remove());

            document.querySelector('#multi-select-form input[name="action"]').value = actionName;
            document.querySelectorAll('.job-multi-select-checkbox:checked').forEach(el => {
                let jobEl = document.createElement('input');
                jobEl.type = 'hidden';
                jobEl.name = 'jobIds';
                jobEl.value = el.getAttribute('data-id');
                formEl.append(jobEl);
            });
        }

        function onMultiEnable(event) {
            populateMultiSelectForm('enable');
            document.querySelector('#multi-select-form').submit();
        }

        function onMultiDisable(event) {
            populateMultiSelectForm('disable');
            document.querySelector('#multi-select-form').submit();
        }
    </script>
</div>
