@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
    ViewData["active"] = "settings";
}
<div class="text-center">
    <h1 class="display-4">Settings</h1>
    <br />
    <div class="container text-start px-5">
        <div asp-validation-summary="All" class="rounded border border-2 border-danger"></div>
        <form method="post">
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.MaxHistoryItemsShown" class="form-label"></label>
                        <input bs5-for="SettingsVM.MaxHistoryItemsShown" class="form-control" />
                        <span asp-validation-for="SettingsVM.MaxHistoryItemsShown" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - the maximum number of executions shown on the History page
                        <br /><br />
                        If left empty, this defaults to @(Services.SettingsService.DefaultMaxHistoryItemsShown).
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.DeleteHistoricalRunsAfterCount" class="form-label"></label>
                        <input bs5-for="SettingsVM.DeleteHistoricalRunsAfterCount" class="form-control" />
                        <span asp-validation-for="SettingsVM.DeleteHistoricalRunsAfterCount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - if specified, executions of each run will be deleted after this count, oldest first
                        <br /><br />
                        If left empty, executions will not be deleted based on count per job. They may still be deleted based on age (see below).
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.DeleteHistoricalRunsAfterDays" class="form-label"></label>
                        <input bs5-for="SettingsVM.DeleteHistoricalRunsAfterDays" class="form-control" />
                        <span asp-validation-for="SettingsVM.DeleteHistoricalRunsAfterDays" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - if specified, executions will be deleted when they are older than the specified number of days
                        <br /><br />
                        If left empty, executions will not be deleted based on age. They may still be deleted based on count (see above).
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.DefaultScriptFileLocation" class="form-label"></label>
                        <input bs5-for="SettingsVM.DefaultScriptFileLocation" class="form-control" />
                        <span asp-validation-for="SettingsVM.DefaultScriptFileLocation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - default filesystem location for all scripts
                        <br /><br />
                        If left empty, the default becomes the user/system default temporary directory, e.g., <code>/tmp</code> on Linux or <code>C:\Users\<i>(username)</i>\AppData\Local\Temp</code> on Windows.
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.CompletionScript" class="form-label"></label>
                        <textarea bs5-for="SettingsVM.CompletionScript" rows="15" class="form-control font-monospace fs-7"></textarea>
                        <span asp-validation-for="SettingsVM.CompletionScript" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - script to execute upon completion of job executions
                        <br /><br />
                        In order for the script to be able to run, an executor must be selected, and at least one job execution status must be enabled (see below).
                        <br /><br />
                        The following environment variables are available:
                        <br />
                        <ul>
                            <li><code>CRONCH_JOB_ID</code> - job ID</li>
                            <li><code>CRONCH_JOB_NAME</code> - job name</li>
                            <li><code>CRONCH_EXECUTION_ID</code> - execution ID</li>
                            <li><code>CRONCH_EXECUTION_STARTED_ON</code> - Unix Epoch start time (in seconds, UTC)</li>
                            <li><code>CRONCH_EXECUTION_COMPLETED_ON</code> - Unix Epoch stop time (in seconds, UTC)</li>
                            <li><code>CRONCH_EXECUTION_EXIT_CODE</code> - numeric exit code</li>
                            <li>
                                <code>CRONCH_EXECUTION_STATUS</code> - one of the following:
                                <ul>
                                    <li><code>@(Models.ExecutionStatus.Unknown)</code></li>
                                    <li><code>@(Models.ExecutionStatus.CompletedAsSuccess)</code></li>
                                    <li><code>@(Models.ExecutionStatus.CompletedAsIndeterminate)</code></li>
                                    <li><code>@(Models.ExecutionStatus.CompletedAsWarning)</code></li>
                                    <li><code>@(Models.ExecutionStatus.CompletedAsError)</code></li>
                                </ul>
                            </li>
                            <li>
                                <code>CRONCH_EXECUTION_STOP_REASON</code> - one of the following:
                                <ul>
                                    <li><code>@(Models.TerminationReason.NoneSpecified)</code></li>
                                    <li><code>@(Models.TerminationReason.Exited)</code></li>
                                    <li><code>@(Models.TerminationReason.TimedOut)</code></li>
                                    <li><code>@(Models.TerminationReason.SkippedForParallelism)</code></li>
                                    <li><code>@(Models.TerminationReason.UserTriggered)</code></li>
                                </ul>
                            </li>
                            <li><code>CRONCH_EXECUTION_INTERNAL_OUTPUT_FILE</code> - location of the internally-formatted file containing the job's stdout and stderr data. Note, this file's format should not be considered stable. Cursory <code>grep</code> checks for keywords should work, but relying on the details of the current format is strongly discouraged.</li>
                        </ul>
                        The script will run for a maximum of @Services.SettingsService.MaxCompletionScriptRuntimeSeconds seconds.
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <label bs5-for="SettingsVM.CompletionScriptExecutor" class="form-label"></label>
                        <input bs5-for="SettingsVM.CompletionScriptExecutor" class="form-control executor-input" />
                        <span asp-validation-for="SettingsVM.CompletionScriptExecutor" class="text-danger"></span>

                        <br /><br />

                        <label bs5-for="SettingsVM.CompletionScriptExecutorArgs" class="form-label"></label>
                        <input bs5-for="SettingsVM.CompletionScriptExecutorArgs" class="form-control executor-args-input" />
                        <span asp-validation-for="SettingsVM.CompletionScriptExecutorArgs" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        <partial name="_ExecutorFormHelpPartial" />
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <hr />
            </div>
            <div class="row gx-5">
                <div class="col mb-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <p>Run completion script job execution statuses</p>
                        <div class="form-check form-switch">
                            <input bs5-for="SettingsVM.RunCompletionScriptOnSuccess" type="checkbox" class="form-check-input" autocomplete="off">
                            <label asp-for="SettingsVM.RunCompletionScriptOnSuccess" class="form-check-label"></label>
                            <br />
                            <input bs5-for="SettingsVM.RunCompletionScriptOnIndeterminate" type="checkbox" class="form-check-input" autocomplete="off">
                            <label asp-for="SettingsVM.RunCompletionScriptOnIndeterminate" class="form-check-label"></label>
                            <br />
                            <input bs5-for="SettingsVM.RunCompletionScriptOnWarning" type="checkbox" class="form-check-input" autocomplete="off">
                            <label asp-for="SettingsVM.RunCompletionScriptOnWarning" class="form-check-label"></label>
                            <br />
                            <input bs5-for="SettingsVM.RunCompletionScriptOnError" type="checkbox" class="form-check-input" autocomplete="off">
                            <label asp-for="SettingsVM.RunCompletionScriptOnError" class="form-check-label"></label>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 d-flex align-items-center">
                    <div class="shadow p-3 bg-body-tertiary rounded flex-fill">
                        Optional - status(es) for which to run the completion script (see above)
                        <br /><br />
                        If no statuses are selected, the completion script will never run.
                    </div>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Save</button>
            <br /><br />
        </form>
    </div>
</div>
